body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgba(12, 16, 39, 1);
    font-family: monospace;
}

header
{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.container
{
    width: 1280px;
    margin: auto;
}

.nav_checkbox
{
    /*border: 2px solid white;*/
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    padding: 10px 0px;
    z-index: 3;
}

.logo
{
    color: white;
    font-size: 25px;
    padding-left: 10px;
    display: grid;
    /*border: 2px solid white;*/
    grid-template-columns: 1fr 1fr 4fr;
    grid-gap: 10px;
    align-items: center;
}

.logo img
{
    width: 60px;
    /*border: 2px solid white;*/
    cursor: pointer;
}

.logo h2
{
    font-size: 30px;
    cursor: pointer;
   /*border: 2px solid white;*/
}

.logo a
{
    text-decoration: none;
    color: white;
    /*border: 2px solid white;*/
    justify-self: center;
}

.tab-nav
{
    outline: none;
    display: none;
}


.label
{
    display: none;
    color: white;
}

.burger
{
    width: 35px;
    height: 5px;
    background-color: white;
    margin-top: 5px;
}

.content_nav
{
    grid-column: 3;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 25px;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    align-items: center;
    justify-items: center;

}

.content_nav li
{
    /*border: 2px solid white;*/
    display: inline-block;
    padding-right: 10px;
}

.content_nav li a
{
    text-decoration: none;
    color: white;
    position: relative;
}

.content_nav li a img
{
    width: 60px;
    border-radius: 50%;
}

#form-inline input
{
    color: white;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    width: 250px;
    height: 45px;
    border-radius: 5px;
    outline: none;
}

#form-inline input:focus
{
    outline: none;
    font-size: 25px;
}

#form-inline .fa-search
{
    color: white;
    position: relative;
    left: 45px;
    bottom: -3px;
}

#form-inline .fa-microphone
{
    position: relative;
    right:45px;
    bottom: -3px;
    color: white;    
}

input::placeholder
{
    color: white;
    font-weight: bold;
    position: relative;
    left: 60px;
    font-size: 20px;
    bottom: -3px;
    font-family: monospace;
}

@media screen and (max-width: 1280px){

    .container{

        width: 100%;

    }

}

@media screen and (max-width: 850px){

    .label
    {
        display: grid;
        cursor: pointer;
        grid-column: 3;
        padding-right: 10px;
    }

    .content_nav
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1/3;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.6s;
    }

    .nav_checkbox input:checked ~ .content_nav
    {

        max-height: 500px;
    }

    .content_nav li{

        padding: 15px 0px;

    }


}
